                             /* --------------PORTFOLIO----------------- */
                             
/* -----image navber------ */
#MY-image{
    width: 200px;
    height: 300px;
    border-style: groove;
    border-radius: 20px;
}

#Group-space{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#Group-space-1{
    width: fit-content;
}

#Group-space-2{
    text-align: left;
}


@media (min-width: 993px){
    #Group-space-2{
        text-align: left;
        margin-left: -40%; 
    }
}

#paragraph{
   font-size: large;
}


/* ---------help to slow AOS better------------- */
[data-aos][data-aos][data-aos-duration= "5000"]{
    transition-duration: 5000ms;
}


/* ---------help to slow AOS better------------- */
[data-aos][data-aos][data-aos-duration= "7000"]{
    transition-duration: 7000ms;
}


